.main-btn {
    color: white;
    border: 1px solid #AC5603 !important;
background: #F18115 !important;
}

.f-small{
    font-size: 12px;
    font-weight: 500;
}
.breadcrumb-item a {
    color: #F18115;
    text-decoration: none;
}
.breadcrumb-item.active {
    color: black;
}
list-black li {
    margin-bottom: 10px !important;
}
.list-black li a {
    color: white !important;
    text-decoration: none;
}
.bot-radius {
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}
.m-color {
    color: #F18115;
    text-decoration: none;
}
@media (min-width: 780px) {
    .hero {
        height: 90vh;
    }
}

.line {
    position: relative;
    padding-left: 10px;
}
.line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background-color: #000;
}
.boxes{
border: 2px solid rgba(246, 246, 246, 0.48);
background: linear-gradient(180deg, rgba(0, 58, 71, 0.05) 10.19%, rgba(2, 98, 121, 0.05) 268.95%);
backdrop-filter: blur(25.600000381469727px);
}
.img-bot::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(80%);
    width: 100px; 
    height: 10px; 
    background-repeat: no-repeat;
    background-image: url('./Assets/img/Home/grid/img-bot.png');
    background-size: contain;
    display: inline-block; 
}

.img-bg {

    background-image: url('./Assets/img/Home/stat.png'); 
        background-size: cover;
        background-position: center; 
        padding: 20px;
}




.accordion-item:last-child {
    border-bottom: none !important; 
}
.accordion-item {
    border-bottom: 1px solid #dee2e6 !important; 
}

.accordion-button {
    background-color: transparent !important; 
    border: none !important; 
    padding: 1rem 1.25rem; 
    font-weight: 600;
}

.accordion-button:focus {
    box-shadow: none !important; 
}

.accordion-collapse {
    border: none !important; 
    margin-top: 0 !important; 
}

.accordion-body {
    padding: 1rem 1.25rem !important; 
}